.header {
  padding: 0 30px ;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-wrap {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ttl {
  font-size: 26px;
} 

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
}
 .header-nav a {
   color: #000;
   text-decoration: none;
 }

.top-mv {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}

.top-mv-main-copy {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0%;
}

.top-mv-sub-copy {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

.top-feature {
  color: #fff;
  background: #222222;
  height: 300px;
  position: relative;
}

.top-inner {
  width: 71%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-feature-ttl {
  font-size: 30px;
}

.top-feature-txt {
  margin-top: 30px;
  line-height: 1.5em;
}

.service-ttl {
  margin-top: 70px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.service-item {
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}

.service-item:nth-child(2n) {
  margin-right: 0;
}

.service-item-img img {
  width: 80%;
}

.service-item-ttl {
  font-weight: bold;
  font-size: 18px;
}

.service-item-description {
  line-height: 1.5;
}

.service-btn {
  margin: 40px auto 0;
}


@media screen and (max-width: 768px) {
  .drawer-nav {
    transform: translateX(100%);
    display: block;
    width: 100%;
    height: 100vh;
    
  }

  #menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  #menu span {

  }

  .menu-line-top {
    
  }
}