/* ヘッダー */

.header {
  padding: 0 30px ;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-wrap {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ttl {
  font-size: 26px;
} 

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
}
 
.header-nav a {
   color: #000;
   text-decoration: none;
 }

 /* ハンバーガー */

.drawer-content {
  display: none;
}

input[type=checkbox] {
  position: absolute;
  left: -50vw;
}

 /* メインビジュアル */

.top-mv {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}

.top-mv-main-copy {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0%;
}

.top-mv-sub-copy {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
}

.top-feature {
  color: #fff;
  background: #222222;
  height: 300px;
  position: relative;
}

.top-inner {
  width: 71%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top-feature-txt {
  margin-top: 30px;
  line-height: 1.5em;
}

/* サービス */

.top-service {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

.top-service-ttl {
  text-align: center;
}

.top-service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-service-item {
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
  justify-content: center;
}

.top-service-item:nth-child(2n) {
  margin-right: 0;
}

.top-service-item img {
  width: 100%;
}

.top-service-item-ttl {
  font-weight: bold;
  font-size: 18px;
  margin: 0.7em 0;
}

.top-service-item-description {
  line-height: 1.5;
}

.top-service-btn {
  margin: 40px auto 0;
}

/* ニュース */

.top-news {
  background: #000;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.top-news-head {
  display: flex;
  justify-content: space-between;
}

.top-news-ttl {
  color: #fff;
}

.top-news-btn {
  width: 160px;
  font-size: 14px;
  padding: 7px;
}

.top-news-list {
  margin-top: 20px;
}

.top-news-item {
  background: #fff;
  padding: 25px;
  margin-bottom: 8px;
}

.top-news-item-link {
  display: flex;
  text-decoration: none;
  color: #000;
}

.top-news-item-date {
  padding-right: 10px;
}

/* ブログ */

.top-blog-ttl {
  text-align: center;
}

.top-blog-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.top-blog-item {
  width: 32%;
  margin-right: calc((100% - (32% * 3 )) / 2);
}

.top-blog-item:nth-child(3n) {
  margin-right: 0;
}

.top-blog-item-date {
  margin: 10px 0;
  font-size: 14px;
}

.top-blog-item-ttl {
  font-size: 18px;
}

.top-blog-btn {
  margin: 40px auto 0;
}

.top-item-link

@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
    line-height: 1.5;
  }

  .top-service {
    width: 85%;
  }
  
  .top-service-item {
    width: 100%;
  }
}