.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px ;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-ttl {
  font-size: 26px;
} 

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: bold;
}
 .header-nav a {
   color: #000;
   text-decoration: none;
 }

.top-mv {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}

.top-mv-main-copy {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0%;
}

.top-mv-sub-copy {
  font-size: 18px;
  text-align: center;
  
}

.top-feature {
  color: #fff;
  background: #000;
  height: 200px;
}

.top-inner {
  width: 60%;
}