.news-item {
  margin-bottom: 10px;
}

.news-item-link {
  display: flex;
  padding: 20px;
  border: 1px solid #222;
}

.news-item:nth-child(3) {
  margin: 0;
}

.news-date {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .news-item-link {
    font-size: 14px;
    padding: 15px;
  }
}